<div class="login-container">
  <div class="login-card">
    <div class="login-left">
      <div class="brand-logo">
        <img class="logo-img" src="../../../assets/images/chef.png" alt="Culinary World Logo">
      </div>
      <div class="sign-in-options">
        <p>Sign in with</p>
        <div class="social-icons">
          <a href="#"><img src="assets/facebook-icon-path" alt="Facebook"></a>
          <a href="#"><img src="assets/twitter-icon-path" alt="Twitter"></a>
          <a href="#"><img src="assets/instagram-icon-path" alt="Instagram"></a>
        </div>
      </div>
    </div>
    <div class="login-right">
      <div class="form-container">
        <form  #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              id="email"
              [(ngModel)]="logged.email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="logged.password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button (click)="sighin()" class="btn btn-primary">Submit</button>
        </form>
        <div class="extra-options">
          <a href="#">Forgot password?</a>
          <a href="#">Create Your Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
