<app-landing-header></app-landing-header>
<div class="contained">
  <header>
    <img
      src="https://dcassetcdn.com/design_img/4001448/784504/28494866/5x5b49c6fbhcznq8nv1qgsr1zm_thumbnail.png"
      alt="Logo"
      class="logo"
    />
    <nav>
      <ul>
        <li><a class="home" href="#">Home</a></li>
        <li><a href="#">Food Menu</a></li>
        <li><a href="#">Reserve Table</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </nav>
  </header>

  <div *ngIf="isVisible" class="cart-container">
    <div *ngIf="cart.length > 0; else emptyCart">
      <div class="yourCart">
        <h1>Your Cart</h1>
        <button class="pay-button">Pay</button>
      </div>
      <div class="displayCart1">
        <p>Total</p>
        <p><span>₦</span>{{ this.total }}</p>
      </div>
      <ul>
        <li *ngFor="let i of cart; let ind = index">
          <div class="displayCart">
            <span
              >{{ ind + 1 }} {{ i.product_name }} {{ i.product_price }}</span
            >
            <p>{{ i.quantity }}</p>
            <button class="icon-button">
              <i class="material-icons">add</i>
            </button>
            <button class="icon-button">
              <i class="material-icons">remove</i>
            </button>
            <button class="delete-button">Delete</button>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #emptyCart>
      <p class="empty-cart">You've not added any product to cart</p>
    </ng-template>
  </div>

  <main class="hero-section">
    <div [ngSwitch]="date" class="text-content">
      <h1 *ngSwitchCase="0">It's Sunday</h1>
      <h1 *ngSwitchCase="1">It's Monday</h1>
      <h1 *ngSwitchCase="2">It's Tuesday</h1>
      <h1 *ngSwitchCase="3">It's Wednesday</h1>
      <h1 *ngSwitchCase="4">It's Thursday</h1>
      <h1 *ngSwitchCase="5">It's Friday</h1>
      <h1 *ngSwitchCase="6">It's Saturday</h1>
      <h1>Reserve Your <span>Table</span> & Order Your <span>Meal</span></h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor
        sit amet, consectetur adipiscing elit.
      </p>
      <div class="buttons">
        <button class="btn btn-reserve">Reserve Table</button>
        <button class="btn btn-order">Order Food</button>
      </div>
    </div>
    <div class="image-content">
      <img
        src="https://i.pinimg.com/474x/58/a5/a2/58a5a26bafb4063a451837dcfdb0399d.jpg"
        alt="Girl with food"
      />
    </div>
  </main>
  <app-totest></app-totest>
  <section class="popular-dishes">
    <div class="dishes-container">
      <div
        *ngFor="let dishes of fetchedProducts; let i = index"
        class="dish-card"
      >
        <img src="http://localhost/php/admin/{{ dishes.product_img }}" alt="" />
        <div class="card-content">
          <h2>{{ dishes.product_name }}</h2>
          <span class="price">${{ dishes.product_price }}</span>
          <!-- <p>{{dishes.product_desc}}</p> -->
          <p *ngIf="selectedIndex === i">{{ message }}</p>
          <button [disabled]="dishes.addedToCart">
            {{ dishes.addedToCart ? "Added" : "Add to cart" }}
          </button>
        </div>
      </div>
    </div>
  </section>
  <app-home></app-home>
</div>
<app-footer></app-footer>
