<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h3>Our Services</h3>
          <ul>
            <li>Food Delivery</li>
            <li>Catering</li>
            <li>Meal Plans</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>Address: 123 Main Street, City</p>
          <p>Phone: +123 456 7890</p>
          <p>Email: infoyourwebsite.com</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Your Food Website. All rights reserved.</p>
    </div>
  </footer>