<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Paragon Branch</h3>
        <p>732/21 Second Street,</p>
        <p>Manchester, King Street,</p>
        <p>Kingston United Kingdom</p>
        <p>1.800.456.6756</p>
        <a href="#" class="btn btn-primary">Get Directions</a>
      </div>
      <div class="col-md-4">
        <h3>Center Branch</h3>
        <p>732/21 Second Street,</p>
        <p>Manchester, King Street,</p>
        <p>Kingston United Kingdom</p>
        <p>1.800.456.6756</p>
        <a href="#" class="btn btn-primary">Get Directions</a>
      </div>
      <div class="col-md-4">
        <h3>Zen Branch</h3>
        <p>732/21 Second Street,</p>
        <p>Manchester, King Street,</p>
        <p>Kingston United Kingdom</p>
        <p>1.800.456.6756</p>
        <a href="#" class="btn btn-primary">Get Directions</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 GRAND RESTAURANT. All rights reserved.</p>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>