.hero {
    background-color: #1c1c1c;
    padding: 50px 0;
  }

  .contained{
    background-color: #1c1c1c;
    color: #f9f5f5;
  }
  
  .hero h1 {
    font-size: 36px;
    font-weight: bold;
    color: #f9f5f5;
  }

  .row{
    justify-content: space-evenly;
  }
  
  .hero p {
    color: #f9f5f5;
  }

  .contained p{
    color: #f9f5f5;
  }

  .contained img{
    width: 60%;
    height: 20vw;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .feature {
    text-align: center;
  }
  
  .feature i {
    font-size: 24px;
    color: #ff416c; /* Replace with your accent color */
  }
  
  .feature span {
    display: block;
    margin-top: 5px;
    color: #f9f5f5;
  }
  
  .btn-primary {
    background-color: #ff416c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }