
<section class="hero">
    <div class="contained">
      <div class="row" id="row">
        <div class="col-md-6">
            <img src="https://i.pinimg.com/474x/4d/5d/98/4d5d981b39836c44755b4f9414ab8de1.jpg" alt="Delicious Burger" class="img-fluid">
          </div>
        <div class="col-md-6">
          <h1>Enjoy Burgery. Make Your Tummy Happy.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
          <div class="features">
            <div class="feature">
              <i class="fas fa-utensil-spoon"></i>
              <span>Delicious</span>
            </div>
            <div class="feature">
              <i class="fas fa-leaf"></i>
              <span>Fresh</span>
            </div>
            <div class="feature">
              <i class="fas fa-check"></i>
              <span>Organic</span>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
        
      </div>
    </div>
  </section>
  <div class="promo-categories">
    <div class="category food">
        <img src="../../../assets/images/food1.png" alt="">
      <div>
        <h3>FOOD</h3>
        <p>Lorem ipsum dolor sit.</p>
        <a href="#">Buy Online</a>
      </div>
    </div>
    <div class="category snack">
        <img src="../../../assets/images/snack3.png" alt="">
        <div class="category-div">
            <h3>SNACK</h3>
            <p>Lorem ipsum dolor sit.</p>
            <a href="#">Buy Online</a>
        </div>
     
    </div>
    <div class="category beverage">
        <img src="../../../assets/images/beverages.png" alt="">
        <div>
            <h3>BEVERAGE</h3>
            <p>Lorem ipsum dolor sit.</p>
            <a href="#">Buy Online</a>
        </div>
      
    </div>
  </div>
  
  <div class="promo-offers">
    <div class="promo-card">
      <h4>Payday promo</h4>
      <h3>GET A 10% DISCOUNT ON PAYDAY WEEK</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="#">Buy Online</a>
      <img src="../../../assets/images/burger1.png" alt="Burger">
    </div>
    <div class="promo-card">
      <h4>Payday promo</h4>
      <h3>BUY 1 COKE GET MORE FREE 1 COKE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="#">Buy Online</a>
      <img src="../../../assets/images/coke1.png" alt="Coke">
    </div>
  </div>
  
  <div class="main-feature">
    <div class="feature-image">
      <img src="https://i.pinimg.com/474x/71/f8/dd/71f8dd52a02a233c46f1ab4d88d22f7a.jpg" alt="Feature Burger">
    </div>
    <div class="feature-text">
      <h2>FIND YOUR BEST TASTED FOOD & DRINK JUST IN ONE PLACE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      <ul>
        <li>Best Price</li>
        <li>Fresh Ingredients</li>
        <li>Best Service</li>
        <li>Health Protocol</li>
      </ul>
      <button>About Us</button>
    </div>
  </div>
  <div class="menu-section">
    <h2>Our Best Menu</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    <div class="menu-buttons">
      <button class="menu-button active">Food</button>
      <button class="menu-button">Snack</button>
      <button class="menu-button">Beverage</button>
    </div>
  </div>

  