.navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff !important; /* Ensure white text */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ff4b2b !important; /* Change hover color to your accent color */
  }

  .navbar-dark {
    background-color: black;
  }