<nav class="navbar navbar-expand-lg navbar-dark">
    <a id="navbar-brand" class="navbar-brand" href="#">Burgry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item" id="cart"  *ngIf="showCart">
          <span (click)="toggleVisibility()" class="material-icons">shopping_cart</span>
        </li>
        <a href="#" (click)="signout()" *ngIf="showLogout" id="Logout" class="nav-link">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>

      </ul>
    </div>
    <div *ngIf="isVisible" class="cart-container">
      <div *ngIf="cart.length > 0; else emptyCart">
        <div class="yourCart">
          <h1>Your Cart</h1>
          <button (click)="makepayment()" class="pay-button">Pay</button>
        </div>
        <div class="displayCart1">
          <p>Total</p>
          <p>
            <span>₦</span>{{this.total}}</p>
         
        </div>
        <ul>
          <li *ngFor="let i of cart let ind = index">
            <div class="displayCart">
              <span>{{ ind + 1 }} {{ i.product_name }}  {{ i.product_price }}</span>
              <p>{{ i.quantity }}</p>
              <button (click)="increase(i)" class="icon-button">
                <i class="material-icons">add</i>
              </button>
              <button (click)="decrease(i)" class="icon-button">
                <i class="material-icons">remove</i>
              </button>
              <button (click)="onDelete(i)" class="delete-button">Delete</button>
            </div>
           
          </li>
        </ul>
      </div>
      <ng-template #emptyCart>
        <p class="empty-cart">You've not added any product to cart</p>
      </ng-template>
    </div>
</nav>

